<ion-header>
  <ion-toolbar>
    <ion-title>{{ titleMode }} a patient</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{previousPage}}" ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="documentEditForm.ngSubmit.emit()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">

  <div id="container" *ngIf="finishedLoading">
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" #documentEditForm="ngForm" novalidate>
      <ion-list class="list ion-text-center" >

        <ion-item class="iteminput">
          <ion-label position="floating">First Name</ion-label>
          <ion-input formControlName="firstname" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="text" placeholder="First Name"></ion-input>
        </ion-item>
        <!-- Error messages -->
        <span class="error" *ngIf="isSubmitted && errorControl.firstname.errors?.required">
          First name is required.
        </span>

      <ion-item class="iteminput">
          <ion-label position="floating">Last Name</ion-label>
          <ion-input formControlName="lastname" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="text" placeholder="Last Name"></ion-input>
        </ion-item>
        <!-- Error messages -->
        <span class="error" *ngIf="isSubmitted && errorControl.lastname.errors?.required">
          Last name is required.
        </span>

        <ion-item class="iteminput">
          <ion-label position="floating">Date of Birth</ion-label>
          <ion-input id="date" autocorrect="on" autofocus="on" [value]="defaultDate" inputmode="numeric" placeholder="YYYY-DD-MM" required="true" ></ion-input>
          <ion-popover trigger="date" size="cover">
            <ng-template>
              <ion-datetime
                displayFormat="YYYY-MM-DD"
                presentation="date"
                locale="en-CA"
                formControlName="dateofbirth"
                (ionChange)="changeDateValue()"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
        <!-- Error messages -->
        <span class="error" *ngIf="isSubmitted && errorControl.dateofbirth.errors?.required">
          Date of birth is required.
        </span>
        <span class="error" *ngIf="isSubmitted && errorControl.dateofbirth.errors?.pattern">
          Please provide valid date in YYYY-MM-DD.
        </span>

        <ion-radio-group formControlName="biologicalsex" lines="full" allow-empty-selection = "false" #radioGroup>
          <ion-list-header>
            <ion-label class="label">Gender</ion-label>
          </ion-list-header>
          <ion-item class="iteminput" >
            <ion-label>Male</ion-label>
            <ion-radio slot="start" value="male" mode="ios"></ion-radio>
          </ion-item>
          <ion-item class="iteminput" >
            <ion-label>Female</ion-label>
            <ion-radio slot="start" value="female" mode="ios"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <!-- Error messages -->
        <span class="error" *ngIf="isSubmitted && errorControl.biologicalsex.errors?.required">
          Gender is required.
        </span>

        <ion-item class="iteminput">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="email" placeholder="Email"></ion-input>
        </ion-item>
        <!-- Error messages -->
        <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Email is required.
        </span>
        <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          Please provide valid email address
        </span>

        <ion-item class="iteminput">
          <ion-label position="floating">Contact Phone</ion-label>
          <ion-input formControlName="contactphone" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="email" placeholder="Contact Phone"></ion-input>
        </ion-item>
        <!-- Error messages -->
        <span class="error" *ngIf="isSubmitted && errorControl.contactphone.errors?.required">
          Contact Phone is required.
        </span>

        <ion-item class="iteminput">
          <ion-label position="floating">Residential Address</ion-label>
          <ion-input formControlName="residentialaddress" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="email" placeholder="Residential address"></ion-input>
        </ion-item>
        <!-- Error messages -->
        <span class="error" *ngIf="isSubmitted && errorControl.residentialaddress.errors?.required">
          Residential address is required.
        </span>

        <ion-item class="iteminput">
          <ion-label position="floating">Emergency Contact</ion-label>
          <ion-input formControlName="emergencycontact" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="email" placeholder="Emergency contact name"></ion-input>
        </ion-item>

        <ion-item class="iteminput">
          <ion-label position="floating">Emergency Contact Phone</ion-label>
          <ion-input formControlName="emergencyphone" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="email" placeholder="Emergency contact's phone"></ion-input>
        </ion-item>

        <ion-item class="iteminput">
          <ion-label position="floating">Relationship</ion-label>
          <ion-input formControlName="relationship" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="email" placeholder="Relationship with the patient"></ion-input>
        </ion-item>

      </ion-list>
    </form>
  </div>
</ion-content>
