<ion-header>
  <ion-toolbar>
    <ion-title>Patient Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listpatient/{{ parent }}" ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteThis()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="goEdit()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" *ngIf="finishedLoading">
    <h3>{{ patientData.first_name }}  {{ patientData.last_name }}</h3>
    <ion-list class="list ion-text-center" >
      <ion-item class="item">
        <ion-label>Date of birth</ion-label>
        <ion-label>{{ patientData.date_of_birth }}</ion-label>
      </ion-item>
      <ion-item class="item">
        <ion-label>Gender</ion-label>
        <ion-label>{{ patientData.biological_sex }}</ion-label>
      </ion-item>

      <hr class="solid">

      <ion-item class="item">
        <ion-label>Email</ion-label>
        <ion-label>{{ patientData.email }}</ion-label>
      </ion-item>
      <ion-item class="item">
        <ion-label>Contact phone</ion-label>
        <ion-label>{{ patientData.contact_phone }}</ion-label>
      </ion-item>
      <ion-item class="item">
        <ion-label>Residential address</ion-label>
        <ion-label>{{ patientData.residential_address }}</ion-label>
      </ion-item>

      <hr class="solid">

      <ion-item class="item">
        <ion-label>Emergency contact</ion-label>
        <ion-label>{{ patientData.emergency_contact }}</ion-label>
      </ion-item>
      <ion-item class="item">
        <ion-label>Emergency phone</ion-label>
        <ion-label>{{ patientData.emergency_phone }}</ion-label>
      </ion-item>
      <ion-item class="item">
        <ion-label>Relationship</ion-label>
        <ion-label>{{ patientData.relationship }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
